= render 'sports', sports_hash: @sports_hash, favorited_sports: @favorited_sports

= link_to 'Refine selections', teams_path, class: 'float-left mt-5 mb-20 inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline'
